<a href="https://colab.research.google.com/github/ftcelepcikay/Python-Exercises/blob/master/Exercise_14_List_Remove_Duplicates_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a program (function!) that takes a list and returns a new list that contains all the elements of the first list minus all the duplicates.

In [0]:
def removeDuplicates(list1):  
  newlist = []
  for elem in list1:
    if elem not in newlist:
      newlist.append(elem)
  return newlist

In [0]:
def removeDuplicates2(list1):  
  set1 = set(list1)
  newlist = list(set1)
  return newlist

In [3]:
x = [1,1,2,3,5,5,10,3,8,20,1]
print(removeDuplicates(x))
print(removeDuplicates2(x))

[1, 2, 3, 5, 10, 8, 20]
[1, 2, 3, 5, 8, 10, 20]